<h1>Map Page</h1>

<%= simple_form_for @quiz do |f| %>
  <%= f.input :element, collection: ["fire", "water", "grass", "electricity"] %>
  <%= f.submit %>
<% end %>

<div class="spacing">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png)">
    <button class = "btn">fire</button>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png)">
    <button class = "button">water</button>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png)">
    <button class = "btn">grass</button>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png)">
    <button class = "btn">electricity</button>
  </div>
</div>
