<div class="container result-container">
  <h1>Results:</h1>
  <h2 class="result-face">
    <% if @total >= 7 %> <i class="fa-solid fa-face-laugh-squint"></i>
    <% elsif @total >= 3 %> <i class="fa-solid fa-face-smile"></i>
    <% elsif @total >= 0 %> <i class="fa-solid fa-face-tired"></i>
    <% end %>
  </h2>

  <p><span><%= @total %></span>/10</p>
  <p><i class="fa-duotone fa-plus"></i><span><%= @score %></span> exp</p>
  <p>TOTAL: <span><%= @user.point %></span> exp</p>
  <div class="new-pokemon">
    <h2>You caught:</h2>
    <% @new_pokemons.each do |pokemon|  %>
      <%= pokemon.name.capitalize %>
    <% end %>
  </div>
  <a href="/dashboard"><i class="fa-solid fa-house"></i></a>
</div>
