// Define variables for your color scheme

// For example:
$red:#e3350d; //pokemon official site red
$blue: #3466AF; //pokemon blue
$yellow: #FFCB05; //pokemon yellow
$orange: #EE6B2F; //pokemon official site orange
$green: #4DAD5B; //pokemon official site green
$gray: #919191; //pokemon official site grey
$light-gray: #F4F4F4;
