// Define variables for your color scheme

// For example:
$red:#FB1B1B;
$blue: #3466AF; //pokemon blue
$yellow: #FFCB05; //pokemon yellow
$orange: #EE6B2F;
$green: #1EDD88;
$gray: #313131;
$light-gray: #F4F4F4;
