.dashboard-row {
  height: 80px;
  width: 100%;
  background-color: rgb(226, 166, 166);
}

.badge-exp {
  background-color:$blue;
  width: 80%;
  height: 80%;
  li {
    display: inline;
  }
}

.dex-row {
  width: 100%;
  background-color: rgb(143, 223, 186);
  display: flex;
  justify-content: center;
}

.dex-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dex-card {
  position: relative;
  background-color: white;
  height: 240px;
  width: 220px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .dex-card-img-container {
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  .dex-card-info-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
  }

  .dex-card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tag {
    background-color: #9bcc50;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 0.8rem;
    text-transform: capitalize;
  }

}


.detail-card {
  height: 60vh;
  width: 30%;
  background-color: $yellow;
  margin: 0 auto;
}
