.big-container{
  width: 100%;
  display: flex;
}

.dashboard-bkg {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: asset-url('dashboard-bkg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.dashboard-row {
  width: 100%;
}

.dashboard-search-bar {
  margin-bottom: 10px !important;
}

.dex-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dex-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }

}

.dashboard-scrolling-container {
  overflow-y: scroll;
  background-color: rgba(243, 237, 237, 0.504);
  padding: 10px;
  width: 95%;
  border-radius: 20px;
  height: 85vh;
}

.dashboard-scrolling-container::-webkit-scrollbar{
  display: none;
}

.dex-card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.144);
  height: 240px;
  width: 220px;
  margin: 17px;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .dex-card-img-container {
    height: 150px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }

  .dex-card-info-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    text-align: center;
  }

  .tag {
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 0.8rem;
    text-transform: capitalize;
    border: 3px solid rgba(255, 255, 255, 0.7);
  }

  &.bug { background-color: #8CB230; }
  &.grass { background-color: #77CC55; }
  &.fire { background-color: #FF4422; }
  &.water { background-color: #44AAFF; }
  &.normal { background-color: #AAAA99; }
  &.poison { background-color: #AA5599; }
  &.electric { background-color: #FFC600; }
  &.ground { background-color: #DDBB55; }
  &.fighting { background-color: #BB5544; }
  &.psychic { background-color: #FF5599; }
  &.rock { background-color: #BBAA66; }
  &.ice { background-color: #66CCCC; }
  &.ghost { background-color: #6666BB; }
  &.dragon { background-color: #7766EE; }
  &.dark { background-color: #775544; }
  &.steel { background-color: #AAAABB; }
  &.fairy { background-color: #EE99EE; }
  &.flying { background-color: #A98FF3; }

  .tag {
    &.bug { background-color: #8CB230; }
    &.grass { background-color: #77CC55; }
    &.fire { background-color: #FF4422; }
    &.water { background-color: #44AAFF; }
    &.normal { background-color: #AAAA99; }
    &.poison { background-color: #AA5599; }
    &.electric { background-color: #FFC600; }
    &.ground { background-color: #DDBB55; }
    &.fighting { background-color: #BB5544; }
    &.psychic { background-color: #FF5599; }
    &.rock { background-color: #BBAA66; }
    &.ice { background-color: #66CCCC; }
    &.ghost { background-color: #6666BB; }
    &.dragon { background-color: #7766EE; }
    &.dark { background-color: #775544; }
    &.steel { background-color: #AAAABB; }
    &.fairy { background-color: #EE99EE; }
    &.flying { background-color: #A98FF3; }
  }
  }

.big-card-screen-inner .dex-card-pokemon{
  &.bug { background-color: #8CB230; }
  &.grass { background-color: #77CC55; }
  &.fire { background-color: #FF4422; }
  &.water { background-color: #44AAFF; }
  &.normal { background-color: #AAAA99; }
  &.poison { background-color: #AA5599; }
  &.electric { background-color: #FFC600; }
  &.ground { background-color: #DDBB55; }
  &.fighting { background-color: #BB5544; }
  &.psychic { background-color: #FF5599; }
  &.rock { background-color: #BBAA66; }
  &.ice { background-color: #66CCCC; }
  &.ghost { background-color: #6666BB; }
  &.dragon { background-color: #7766EE; }
  &.dark { background-color: #775544; }
  &.steel { background-color: #AAAABB; }
  &.fairy { background-color: #EE99EE; }
  &.flying { background-color: #A98FF3; }
}

.dex-card-types {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-card {
  height: 60vh;
  width: 30%;
  background-color: $yellow;
  margin: 0 auto;
}

.big-card{
  justify-content: center;
  // margin-top: 30px;
  // width: 50%;
  height: 100%;
  margin-left:0px;
  // position: relative;
  // top: 4rem;
}

.big-card-left{
  overflow: hidden;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  // background-color: white;
}

.big-card-screen-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 !important;
  box-shadow: none;
}

.big-card-screen{
  display: flex;
  background-color: white;
  margin-top: 10px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right,rgba(255,255,255,0.8),rgba(0,0,0,0.3));
  height: 85vh;
}
.big-card-screen {
  &.bug { background-color: #8CB230; }
  &.grass { background-color: #77CC55; }
  &.fire { background-color: #FF4422; }
  &.water { background-color: #44AAFF; }
  &.normal { background-color: #AAAA99; }
  &.poison { background-color: #AA5599; }
  &.electric { background-color: #FFC600; }
  &.ground { background-color: #DDBB55; }
  &.fighting { background-color: #BB5544; }
  &.psychic { background-color: #FF5599; }
  &.rock { background-color: #BBAA66; }
  &.ice { background-color: #66CCCC; }
  &.ghost { background-color: #6666BB; }
  &.dragon { background-color: #7766EE; }
  &.dark { background-color: #775544; }
  &.steel { background-color: #AAAABB; }
  &.fairy { background-color: #EE99EE; }
  &.flying { background-color: #A98FF3; }
}
.big-card-image {
  height: 250px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}

.big-card-image {
  &.bug { background-color: #8CB230; }
  &.grass { background-color: #77CC55; }
  &.fire { background-color: #FF4422; }
  &.water { background-color: #44AAFF; }
  &.normal { background-color: #AAAA99; }
  &.poison { background-color: #AA5599; }
  &.electric { background-color: #FFC600; }
  &.ground { background-color: #DDBB55; }
  &.fighting { background-color: #BB5544; }
  &.psychic { background-color: #FF5599; }
  &.rock { background-color: #BBAA66; }
  &.ice { background-color: #66CCCC; }
  &.ghost { background-color: #6666BB; }
  &.dragon { background-color: #7766EE; }
  &.dark { background-color: #775544; }
  &.steel { background-color: #AAAABB; }
  &.fairy { background-color: #EE99EE; }
  &.flying { background-color: #A98FF3; }
}

.dex-card-pokemon {
  position: relative;
  background-color: rgba(255, 255, 255, 0.393);
  height: 90%;
  width: 90%;
  margin: 1.7rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Style the tab */
.tab {
  overflow: hidden;
  // border: 1px solid #ccc;
  // background-color: rgba(255, 255, 255, 0.3);
  &.bug { background-color: #8CB230; }
  &.grass { background-color: #77CC55; }
  &.fire { background-color: #FF4422; }
  &.water { background-color: #44AAFF; }
  &.normal { background-color: #AAAA99; }
  &.poison { background-color: #AA5599; }
  &.electric { background-color: #FFC600; }
  &.ground { background-color: #DDBB55; }
  &.fighting { background-color: #BB5544; }
  &.psychic { background-color: #FF5599; }
  &.rock { background-color: #BBAA66; }
  &.ice { background-color: #66CCCC; }
  &.ghost { background-color: #6666BB; }
  &.dragon { background-color: #7766EE; }
  &.dark { background-color: #775544; }
  &.steel { background-color: #AAAABB; }
  &.fairy { background-color: #EE99EE; }
  &.flying { background-color: #A98FF3; }
}
.tablink-name {
  font-size: 0.5rem;
  color: $gray;
}

.tablinks {
  border-radius: 10px 10px 0 0;
  border: 3px solid #666 !important;
  border-bottom: none !important;
  background-color: rgba(255, 255, 255, 0.5);
  &.bug { background-color: #8CB230; }
  &.grass { background-color: #77CC55; }
  &.fire { background-color: #FF4422; }
  &.water { background-color: #44AAFF; }
  &.normal { background-color: #AAAA99; }
  &.poison { background-color: #AA5599; }
  &.electric { background-color: #FFC600; }
  &.ground { background-color: #DDBB55; }
  &.fighting { background-color: #BB5544; }
  &.psychic { background-color: #FF5599; }
  &.rock { background-color: #BBAA66; }
  &.ice { background-color: #66CCCC; }
  &.ghost { background-color: #6666BB; }
  &.dragon { background-color: #7766EE; }
  &.dark { background-color: #775544; }
  &.steel { background-color: #AAAABB; }
  &.fairy { background-color: #EE99EE; }
  &.flying { background-color: #A98FF3; }
}

/* Style the buttons inside the tab */
.tab button {
  // background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  transition: 0.3s;
  font-size: 14px;
  height: 30px;
  color: $gray;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: white;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  // border: 1px solid #ccc;
  // border-top: none;
  line-height: 1.2;
  height:200px;
  background-image: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1)), asset-url('container_bg.png');
  background-size: contain;
  &.bug { background-color: #8CB230; }
  &.grass { background-color: #77CC55; }
  &.fire { background-color: #FF4422; }
  &.water { background-color: #44AAFF; }
  &.normal { background-color: #AAAA99; }
  &.poison { background-color: #AA5599; }
  &.electric { background-color: #FFC600; }
  &.ground { background-color: #DDBB55; }
  &.fighting { background-color: #BB5544; }
  &.psychic { background-color: #FF5599; }
  &.rock { background-color: #BBAA66; }
  &.ice { background-color: #66CCCC; }
  &.ghost { background-color: #6666BB; }
  &.dragon { background-color: #7766EE; }
  &.dark { background-color: #775544; }
  &.steel { background-color: #AAAABB; }
  &.fairy { background-color: #EE99EE; }
  &.flying { background-color: #A98FF3; }
}

.tabcontainer > .tabcontent:not(:first-child) {
  display: none;

}

.big-card-detail {
  position: absolute;
  top: 40%;
  width: 100%;
  p {
    font-family: $nes-font;
    font-size: 0.8rem;
  }
}


#pokemon-image {
  width: 230px;
  height: 230px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.first-row {
  height: 60px;
  padding: 10px;
  p {
  font-family: $nes-font;
  }
  img {
    width: 120px;
  }
}

.dex-card-title {
  color: white;
  font-size: 1.17em;
}
.first-row-text {
  padding-top:1rem;
}
.pokemon-name {
  font-size: 1.7em;
}

.empty-space {
  height: 65px;
}

.middle-container {
  height: 95%;
}
