.map-container {
  width: 80%;
  margin: 0 auto;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.spacing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    width: 100%;
    height: 100%;
  }

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .spacing {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .spacing {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .spacing {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .spacing {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .spacing {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

.hide {
  display: none;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 500px 0;
}

.fire-pic {
  height: 200px;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 5px;
}

.grass-pic {
  height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.water-pic {
  height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.bug-pic {
  height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.element-icons {
  width: 4rem;
  height: 4rem;
}

.map {
  width: 100%;
  height: auto;
  background-size: cover;
}

.sticky-header {
  position: sticky;
  top: 0;
}

.sticky-map {
  position: sticky;
  top: 30px;
}

.pokemon-cards {
  width: 100%;
  height: 200vh;

}
