.spacing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .spacing {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .spacing {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .spacing {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .spacing {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .spacing {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

.hide {
  display: none;
}

.fire-pic {
  // height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.grass-pic {
  // height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.water-pic {
  // height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.bug-pic {
  // height: 200px;
  width: 200px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.element-icons {
  width: 3rem;
  height: 3rem;
}

.map {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.pokemon-cards {
  width: 100%;
  height: 680px;
}

.scrolling-container {
  height: 600px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.504);
  padding: 10px;
}
// hide the scroll bar
.scrolling-container::-webkit-scrollbar{
  display: none;
}
// calculate the correct height of the map container and the dex container

.pokeball-image {
  background-image: asset-url('pxfuel.png');
}

.search-bar-map {
  width: 500px !important;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
}

.map-body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('wallpaperflare.com_wallpaper.png');
  background-size: cover;
  padding: 15px;
}

.map-title {
  font-family: 'Press Start 2P', cursive;
}
