.spacing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }

  // Smallest device
  @media (min-width: 100px) and (max-width: 575px) {
    .spacing {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .spacing {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .spacing {
      grid-template-columns: 1fr 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .spacing {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .spacing {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

.hide {
  display: none;
}

.element-icons {
  width: 4.5rem;
  height: 4.5rem;
}

.map {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.pokemon-cards {
  width: 100%;
  height: 680px;
}

.scrolling-container {
  height: 600px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.504);
  padding: 10px;
  margin-right: 200px;
}
// hide the scroll bar
.scrolling-container::-webkit-scrollbar{
  display: none;
}
// calculate the correct height of the map container and the dex container

.pokeball-image {
 background-image: asset-url('pxfuel.png');
}

.search-bar-map {
  width: 500px !important;
  height: 50px;
  font-family: 'Press Start 2P', cursive;
}

.map-body {
  width: 100%;
  height: 93.2vh;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('wallpaperflare.com_wallpaper.png');
  background-size: cover;
}

.map-title {
  position: relative;
  font-family: 'Press Start 2P', cursive;
  color: white;
  right: 22px;
  top: 30px;
}

.dex-map {
  position: relative;
  background-color: rgba(243, 237, 237, 0.504);
  height: 615px;
  width: 95%;
  border-radius: 20px;
  margin: 0;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 80px;
  right: 70px;
  top: 60px;
}

.uplifting {
  position: relative;
  top: 60px;
}

.pokemon-name-map {
  font-size: 1em;
}
