.result-container {
  width: 80%;
  margin: 20px auto;
  margin-bottom: 1px !important;
  text-align: center;
  span {
    color: $green;
    font-weight: 600;
  }
  .fa-house {
    font-size: 30px;
  }
}

.result-face {
  font-size: 2rem;
}

.new-pokemon {
  h2 {
    color: $blue;
  }
}

.fa-house {
  margin-bottom: 10px;
}
