<div class="text-center heading">
  <h1>Quiz time!</h1>
</div>

<div class="container">
  <%= simple_form_for @quiz_question do |f| %>
    <%= f.input :user_answer, as: :check_boxes, collection: [@answer, @incorrect, @incorrect_two, @incorrect_three].shuffle, :label => @problem %>
    <%= f.submit %>
  <% end %>
</div>

<% possibilites = [@answer, @incorrect, @incorrect_two, @incorrect_three] %>
<% radomize = possibilites.shuffle %>
