<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid w-100">
    <%= link_to pokedex_path, class: "navbar-brand" do %>
      <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/1200px-Pok%C3%A9_Ball_icon.svg.png" %>
    <% end %>
    <% if user_signed_in? %>
      <% if current_page?(new_quiz_path) %>
        <h1>Catch a pokemon</h1>
      <% end %>
      <% if controller_name == 'quiz_questions' && action_name == 'show' %>
        <h1> Quiz Time!</h1>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete}, class: "button btn-green nes-btn is-error"  %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
