<h1><%= @user.username %>'s dashboard</h1>

<% if @user.pokemons.empty? %>
  <p>There is no pokemon</p>
<% else %>
  <% @user.pokemons.each do |pokemon| %>
    <%= pokemon.name %>
  <% end %>
<% end %>
