<% if user_signed_in? %>
  <a href="/dashboard" class="button btn-blue"><i class="fa-solid fa-house"></i></a>


<% else %>
  <%= link_to "Sign in", new_user_session_path, class:"button btn-blue" %>
<% end %>
