.button {
  // border-radius: 100px;
  // transition: background 0.3s ease;
  // text-decoration: none;
  // font-size: 18px;
  // font-family: $flexo;
  height: 50px;
  width: 140px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.btn-yellow {
  color: $gray;
  background: $yellow;
  margin: 5px;
  font-family: 'Press Start 2P', cursive;
}
.btn-yellow:hover {
  color: $gray;
  background: #eac20d;
}

.btn-blue {
  color: white;
  background: $blue;
  margin: 5px;
  font-family: 'Press Start 2P', cursive;
}
.btn-blue:hover {
  color: white;
  background: #0447c3;
}

.btn-green {
  color: white;
  background: $green;
  margin: 5px;
  font-family: 'Press Start 2P', cursive;
}
.btn-green:hover {
  color: white;
  background: rgb(4, 124, 20);
}
