.button {
  border-radius: 4px;
  transition: background 0.3s ease;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 18px;
}

.btn-yellow {
  color: $gray;
  background: $yellow;
}
.btn-yellow:hover {
  background: #eac20d;
  color: $gray;
}
