.navbar-lewagon {
  justify-content: space-between;
  background: $yellow;
  padding: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.map-text {
  font-size: 1.7rem;
  margin: 0;
}
